#header {
  width: 100%;
  height: 75vh;
  margin-top: 70px;
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 650;
}
#header h2 {
  color: #083763;
  font-size: 20px;
}
#header .btn-started {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.7s;
  color: #2172bd;
  border: 2px solid #2c71b3;
  text-decoration: none;
}
#header .btn-started:hover {
  background-color: #2172bd;
  color: #fff;
}
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  height: 400px;
  width: 400px;
  margin-left: 6rem;
  margin-bottom: 4rem;
}
.textprimary {
  color: #0f64b4;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.container1
{
  border-radius: 50px;
  padding-bottom: 2rem;
  margin-left: 18rem;
  margin-right: 18rem;
  
}
.container2
{
  border-radius: 50px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color : #C7FFFD;
}
.container3
{
  border-radius: 50px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  background-color : #EDEFEE;
}
.container4
{
  border-radius: 50px;
  padding-top: 6rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  margin-left: 6rem;
  margin-right: 6rem;
  
}
.container5
{
  
  display : flex;
  flex-direction: row;
  align-items : center;
  justify-content: center;
}

.container3
{
  display: flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
}

.container6
{
  padding-top: 0rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}