.navbar {
  background-color: #fff;
}
.navbar .navbar-brand {
  font-size: 2.3rem;
  color: #0759a5;
  border-bottom: none;
}
.navbar a {
  font-size: 1.3rem;
}
.navbar a:hover {
  color: #0759a5;
}
.active {
  border-bottom: 1px solid #0759a5;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-white {
  box-shadow: none;
}
a.navbar-brand.font-weight-bolder.active {
  font-size: 1.9rem;
  font-weight: 400;
  color: #0759a5;
  border-bottom: none;
}